<div class="sidebar bg-dark">
    
    <a href="{{ path('candidature_new') }}" class="btn btn-primary new-candidature">Nouvelle candidature</a>
    {# affichage du bouton pour revenir à la liste sauf sur l'index : #}
    {# affichage du menu déroulant du filtre par étape uniqueùment sur la page index :#}
    {% if route == 'candidature_index' %}
        <div class="nav-item dropdown">

        <a class="nav-link dropdown-toggle btn btn-secondary" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Filtrer par étape
        </a>

        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            
            <a class="dropdown-item" style="color:dodgerblue; font-weight:bold;" href="{{ path('candidature_index') }}">Toutes ({{ nbCandidatures }})</a>

            {% for etapes in menu_etapes %}
                <a class="dropdown-item" href="{{ path('candidature_etape', {'id':etapes.id}) }}">{{ etapes.etape }}  </a>
            {% endfor %}

        </div>

        </div>
    {% else %}
        <button type="button" class="btn btn-light">
            <a href="{{ path('candidature_index') }}">Retour à l'accueil</a>
        </button>
        <hr>
        {# affichage de liens vers toutes les candidatures dans la sidebar #}
        {% for candidature in candidatures %}
            <a href="{{ path('candidature_show', {'id': candidature.id}) }}">
                {% if candidature.etape.etape == 'Candidature refusée' %}
                    <div class="card border-danger text-danger align-items-center m-1">
                
                {% elseif candidature.etape.etape == 'Candidature retenue' %}
                    <div class="card border-success text-success align-items-center m-1">
                
                {% elseif candidature.etape.etape == 'Attente réponse' %}
                    <div class="card border-warning text-warning align-items-center m-1">
                
                {% elseif candidature.etape.etape == 'Entretien à venir' %}
                    <div class="card border-primary text-primary align-items-center m-1">

                {% else %}
                    <div class="card align-items-center text-secondary m-1">
                {% endif %}
                    {{ candidature.Poste }} <br>
                    {{ candidature.Entreprise }}
                </div>
            </a>
        {% endfor %}

    {% endif %}


</div>